.App {
  text-align: center;
  background-color: #121213;
  min-height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-header {
  width: 100%;
  border-bottom: 0.5px solid #3a3a3c;
}

.Title {
  font-family: "Playfair Display", serif;
  font-size: 2rem;
}

.Board {
  min-width: 350px;
  min-height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.Board-row {
  display: flex;
  justify-content: space-around;
}

.Letter {
  text-align: center;
  width: 60px;
  height: 60px;
  border: 2px solid #3a3a3c;
  border-radius: 1px;
}
